*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-image: url("https: //elements-cover-images-0.imgix.net/16f562f4-e2bf-4904-a5f0-dc31dc9162f7?auto=compress%2Cformat&fit=max&w=900&s=e49fd94aa2d02c278b404eaddf2264ea");
}

.brand{

    padding-top: 100px;
}